<!DOCTYPE html>
<html lang="en">
<head>
<title>RMS::Login</title>
<!-- Bootstrap Core CSS -->
<link href="css/lib/bootstrap.min.css" rel="stylesheet">
<link href="css/app/login.css" rel="stylesheet">
</head>
<body data-ng-app="rmsApp" data-ng-controller="LoginController">
	<div class="container">
		<div id="wrapper">
			<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="background-color: #e0e0e0;">
				<div class="navbar-header">
					<img src="images/recastlogo.png" alt="ReCast" height="50">
				</div>
			</nav>
			<div class="row"></div>
			<br /> <br />
			<div class="card card-container">
				<div data-ng-show="!initPhase">
					<div data-ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
				</div>
				<img id="profile-img" class="profile-img-card" src="images/avatar_2x.png" />
				<p id="profile-name" class="profile-name-card"></p>
				<form class="form-signin" name="loginForm" action="/j_spring_security_check" method="post">
					<span id="reauth-email" class="reauth-email"></span> 
					<input type="text" id="username" class="form-control" name="username" autocomplete="username" placeholder="User Name" required autofocus> 
					<input type="password" id="password" class="form-control" name="password" autocomplete="current-password" placeholder="Password" required>
					<div id="remember" class="checkbox">
						<label><input type="checkbox" value="remember-me">Remember me</label>
					</div>
					<button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
				</form>
				<a href="#" class="forgot-password" data-ng-click="forgotPassword()"> Forgot the password? </a>
				<a ng-href="registration.html" class="registration-form" target="_self"> Registration Form </a>
			</div>
			<!-- /card-container -->
		</div>
	</div>

	<!-- Reset Password Modal start-->
	<div id="resetPwdModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h3 id="myModalLabel">Forgot Password</h3>
				</div>
				<div class="modal-body">
					<form name='resetPwdForm' role='form'>
						<div class='form-group'>
							<div class='col-sm-3 col-md-3 col-lg-3 text-right' style='padding-top: 7px;'>
								<label for='userName'>User Name :</label>
							</div>
							<div class='col-sm-9 col-md-9 col-lg-9'>
								<input ng-disabled="isFpSucess" type='text' id='userName' data-ng-model="userName" class='form-control' required placeholder="Enter UserName">
							</div>
							<div style='clear: both;'></div>
						</div>
						<div class='form-group'>
							<div class='col-sm-3 col-md-3 col-lg-3 text-right' style='padding-top: 7px;'>
								<label for='emailId'>Email Id:</label>
							</div>
							<div class='col-sm-9 col-md-9 col-lg-9'>
								<input ng-disabled="isFpSucess" type='email' id='emailId' data-ng-model="emailId" class='form-control' required placeholder="Enter Email ID">
							</div>
							<div style='clear: both;'></div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button data-content='remove' class='btn btn-default' data-dismiss="modal" aria-hidden="true">Close</button>
					<button ng-disabled="isFpSucess" class="btn btn-primary" type="submit" id="resetPwdButton">Reset</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Reset Password Modal end-->
	<script src="js/lib/jquery.min.js"></script>
	<!-- Bootstrap Core JavaScript -->
	<script src="js/lib/bootstrap.min.js"></script>
	<!-- Angular JS -->
	<script src="js/lib/angular.min.js"></script>
	<script src="js/lib/angular-ui-route.min.js"></script>
	<script src="js/lib/jquery-ui-1.12.4.js"></script>
	<script src="js/lib/ngStorage.js"></script>
	<script src="js/app/login-controller.js"></script>	
</body>
</html>